.login_view {
    text-align: center;
    padding-top: 50px;

    .login_input {
        width: 50.01% !important;
        margin-top: 5px;
        padding: 12px;
    }

    .email_input {
        width: 50.01% !important;
        margin-top: 24px;
        padding: 12px;
    }

    .login_button {
        display: block;
        text-align: center;
        margin-top: 24px;
    }
}

.xgOPLd {
    margin-left: 25vw;
    padding: 5px;
    color: red;
    display: flex;
}

.SD9c5 {
    margin-right: 8px;
}